# Environment & Credentials
.env
env/
env_wsl/
venv/
fuck/

# IDE
.idea/
.DS_Store

# Logs & Cache
*.log
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
# Data & Reports
GEMINI
tools/cwe_parse/*.xml
tools/cwe_parse/*.csv
report/best_statistics/*.pdf
